body {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat;
}

header {
    width: 100%;
    height: 3em;
    border-bottom: 0.02em solid #FF686B;
    text-align: center;
    display: flex;
    align-items: center;
}

header * {
    color: white;
}

header>h2 {
    margin-left: 2em;
}

nav {
    margin-left: auto;
}

nav>button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin-right: 1em;
    border-radius: 5px;
    outline: none;
}

nav>button:hover {
    background-color: #FF686B;
}

.canSec {
    display: flex;
    justify-content: center;
}

canvas {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 1em 1.5em 0 1.5em;
    border-radius: 10px;
}

.container {
    display: inline-block;
    vertical-align: top;
    margin: 1em 1.5em 0 0;
    padding: 1em;
    border: 1px solid #FF686B;
    border-radius: 5px;
}

.tool {
    display: block;
    margin: 1em 0 1em 0;
}

.tool+.tool {
    border-top: 0.5px solid rgba(255, 255, 255, 0.8);
    padding-top: 1em;
}

p {
    color: white;
    font-size: 1em;
    margin-left: 1em;
}

#color {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 100%;
    background-color: black;
    border: 3px solid white;
    margin-left: 2em;
}

#color:hover {
    opacity: 0.8;
}

.tool>* {
    display: inline;
}

.tool button {
    color: rgba(255, 255, 255, 0.8);
    width: 5em;
    height: 2.5em;
    background-color: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.5em;
    margin: 1em 0;
    font-size: 1em;
    outline: none;
}

.tool button+button {
    margin: 1em 0 1em 1em;
}

.tool button:hover {
    background-color: white;
    color: black;
}

.part * {
    display: block;

}

.part span {
    width: 280px;
    color: rgba(255, 255, 255, 0.8);
}


.part {
    display: none;
    /*position: absolute;*/
    margin: auto;
}

.part button {
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.5em;
    font-size: 1em;
    outline: none;
}

.part button:hover {
    background-color: white;
    color: black;
}

.part.visible {
    display: block;
}

textarea {
    border-radius: 5px;
    outline: none;
    margin: 0.5em 0;
    background-color: rgba(255, 255, 255, 0.9);
}

#pencil {
    width: 3em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    border-right: 0;
    position: relative;
    margin-right: -6px;
}

#edge {
    font-size: 1em;
    width: 3em;
    height: 2.5em;
    border-radius: 0 0.5em 0.5em 0;
    margin-right: 1em;
}

#font-type, #choose-color {
    font-size: 1em;
    border-radius: 0.2em;
    margin-bottom: 0.5em;
}

#eraser-style {
    position: fixed;
    background-color: white;
    border: 1px solid black;
    display: none;
}

input[type=file] {
    display: none;
}

@media screen and (max-width: 768px) {
    canvas {
        display: block;
        margin: 1em auto 1em auto;
    }

    .canSec {
        flex-wrap: wrap;
    }

    #color {
        display: block;
        margin: 2em 0;
    }

    .container {
        margin: auto;
        width: 360px;
    }

    .part {
        position: relative;
    }

    .part span {
        width: 100%;
    }

}

@media screen and (max-width: 400px) {
    canvas {
        display: block;
        margin: 1em auto 1em auto;
        width: 100%;
        height: 100%;
    }

    .container {
        border: none;
        width: 100%;
    }
}