html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: linear-gradient(110deg, white 20%, #DBDBDB 20%, #DBDBDB 60%, white 60%, white 90%, #DBDBDB 90%);

}

body {
    margin: 0px;
    padding: 0px;
}

.container-style {
    border: 1.5px solid #EBEBEB;
    border-radius: 5px;
    width: 250px;
    height: 530px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#inputNum,
#inputNumAdd {
    background-color: black;
    color: white;
    display: block;
    margin: 0 auto;
    padding: 4px 8px;
    border: 0px;
    text-align: right;
    font-size: 20px;
}

#inputNum {
    margin-bottom: 5px;
}

#inputNumAdd {
    margin-top: 5px;
}

.container-style>input {
    width: 220px;
    margin: 10px auto;
}

.square {
    width: 240px;
    margin: auto;
}

.square input {
    border-radius: 5px;
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-top: 10px;
    background-color: #F15956;
    color: white;
    border: 0px;
}

.square input:hover {
    background-color: #FD4C49;
}

#dot {
    font-weight: bolder;
}

#eval {
    background-color: #ED3131;
}

#eval:hover {
    background-color: #FF1F1F;
}