@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@font-face {
    font-family: 'horror';
    src: url('resources/onryou.TTF');
}

body {
    background-image: url(resources/back.jpg);
    background-size: cover;
}

.title {
    color: white;
    font-family: 'horror';
    font-size: 60px;
}

.title>.smaller {
    font-size: 35px;
}

.title>.red {
    color: red;
}

.wrapper {
    margin: auto;
    margin-top: 5px;
    width: 330px;
    border-radius: 5px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-element {
    border: 2px solid #F5F5F5;
    margin-bottom: 5px;
    transition: all 0.5s ease;
}


.img-element.flip {
    transform: scale(0, 1);
}


.btn-style>button {
    font-size: 30px;
    font-family: 'horror';
    background-color: #0A0A0A;
    margin-right: 3px;
    border: none;
}

.btn-style > button:disabled {
    color: #292929;
}

.start {
    color: red;
}
.start:enabled:hover {
    color: #B30000;
}

.pause {
    color: white;
}
.pause:enabled:hover {
    color: #545454;
}

.counter, .sec {
    margin-top: 20PX;
    font-size: 40px;
    font-family: 'horror';
    color: white;
}

.bor {
	margin-right: 30px;
    border-radius: 100%;
    background-color: red;
    width: 100px;
    height: 100px;
    border: 5px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.eyebg {
    border-radius: 100%;
    width: 50%;
    height: 50%;
    animation-name: run;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ball {
    border-radius: 100%;
    background-color: black;
    width: 20px;
    height: 20px;
} 

.word-bg {
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

section > p {
	color: white;
    font-family: 'cwTeXKai';
    font-size: 20px;
}

section > h2 {
    color: #E00000;
    font-family: 'cwTeXKai';
}

iframe {
    display: none;
}

@keyframes run {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}